<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Short Url</title>
    <link rel="stylesheet" href="npm i bootstrap@5.3.3">
</head>

<body>

    <div class="mb-3">
        <label for="formGroupExampleInput" class="form-label">Enter URL</label>
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input placeholder">
    </div>
    <div class="mb-3">
        <label for="formGroupExampleInput2" class="form-label">Short URL</label>
        <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input placeholder">
    </div>

</body>

</html>